+b.HEADER.header
	+wrapper
		+A('#', 'logo')
			+e.H1.header Build Home
			+e.H2.text Industrial Theme

		+b.UL.menu-socials
			+e.item_facebook
			+e.item_twitter
			+e.item_rss
			+e.item_linkedin
			+e.item_skype

		+b.UL.menu-main
			+e.item._active-page
				+a('#') Home
			+e.item
				+a('#') Features
			+e.item
				+a('#') Servises
			+e.item
				+a('#') News
			+e.item
				+a('#') Shop
			+e.FORM.search-form(action="#")