extends core/template

block title
	title js_19-20

block header
	include blocks/header/header

block slider
	include blocks/slider/slider

block intro
	include blocks/intro/intro

block servises
	include blocks/servises/servises

block news-banners
	include blocks/news-banners/news-banners

block sponsors
	include blocks/sponsors/sponsors

block footer
	include blocks/footer/footer
	