+b.contacts.clearfix
	+wrapper
		+e.UL.list
			+e.item_location BuildHomeLtd. Street Name 123 23 45 Cityname
			+e.item_mobile +123 900 123 456
			+e.item_vcard info@buildhome.web
			+e.item_copyright 2014 Build Home