+b.footer-menu.clearfix
	+wrapper

		+e.UL.list
			+e.H3.title-3 socials
			+e.item
				+a('#') Facebook
			+e.item
				+a('#') Flickr
			+e.item
				+a('#') Twitter
			+e.item
				+a('#') Vimeo

		+e.UL.list
			+e.H3.title-3 links
			+e.item
				+a('#') How to Write a Blog
			+e.item
				+a('#') Create a Blog in 4 Steps
			+e.item
				+a('#') 15 Tips to Inkrease Traffic
			+e.item
				+a('#') 20 Blog Post Ideas

		+e.UL.list
			+e.H3.title-3 blogroll
			+e.item
				+a('#') Blogs Blog
			+e.item
				+a('#') Roll Up Roll Up
			+e.item
				+a('#') Blog Free
			+e.item
				+a('#') Wordpress Blog

		+e.UL.list
			+e.H3.title-3 about us
			+e.item
				+a('#') Agriculture
			+e.item
				+a('#') Harvest
			+e.item
				+a('#') Company News
			+e.item
				+a('#') Investor relations