//- bemto
//- Copyright(c) 2012 Roman Komarov <kizu@kizu.ru>
//- MIT Licensed

include lib/index

//- in tag_metadata.jade (var bemto_tag_metadata) add:
//- 'meta': {
//-       'type': 'self_closing'
//-       },
//- 'link': {
//-       'type': 'self_closing'
//-       },

//- Mykhailo Startsev <m.a.s@ukr.net>