+b.SECTION.servises
	+wrapper
		+e.H2.title Our Services
		+e.UL.list
			+e.item
				+a('#')
					+e.IMG(src="img/service-1.jpg").image
					+e.P.caption Schedule Services
			+e.item
				+a('#')
					+e.IMG(src="img/service-2.jpg").image
					+e.P.caption Preventive Maintence
			+e.item
				+a('#')
					+e.IMG(src="img/service-3.jpg").image
					+e.P.caption Tire &#38; Wheel Services
			+e.item
				+a('#')
					+e.IMG(src="img/service-4.jpg").image
					+e.P.caption Repair Services