+b.SECTION.carousel-wrapper
	+b.jcarousel		
		+b.UL
			+SliderIMG('img/slide-1.jpg')
			+SliderIMG('img/slide-2.jpg')
			+SliderIMG('img/slide-3.jpg')
	
		+b.H2.inscription 
			+e.SPAN.block Build
			+e.SPAN.block your
			+e.SPAN.block business

	//- PAGINATION
	+b.jcarousel-pagination
