+b.ARTICLE.latest-news
	+e.H2.title Latest News
	+e.ARTICLE.article_1
		+e.IMG.img(src='img/news-img.jpg')
		+e.ASIDE.aside
			+e.HEADER.header
				+e.H3.title-3
					+a('#','title') Advanced Machinery Helps Improve Quality
				+e.SMALL.comments by
					+a('#')  cmsmasters
					|  Comments (
					+a('#') 6
					| ) 
			+e.P.text Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
	+e.ARTICLE.article_2
		+e.IMG.img(src='img/news-img-2.jpg')
		+e.ASIDE.aside
			+e.HEADER.header
				+e.H3.title-3
					+a('#','title') Powerful Techniques for Advanced Service
				+e.SMALL.comments by
					+a('#')  cmsmasters
					|  Comments (
					+a('#') 3
					| )
			+e.P.text Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.