/* list reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  /*added*/ }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style-type: none; }

li {
  display: inline-block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?15925360");
  src: url("../fonts/fontello.eot?15925360#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?15925360") format("woff"), url("../fonts/fontello.ttf?15925360") format("truetype"), url("../fonts/fontello.svg?15925360#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Ubuntu", Arial, sans-serif; }

a {
  font: inherit;
  color: #333; }

.wrapper {
  width: 1160px;
  margin: 0 auto; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.header {
  margin: 30px 0; }

.logo {
  position: relative;
  float: left; }
  .logo__header {
    margin-left: 45px;
    font-size: 30px;
    letter-spacing: 1.5px; }
  .logo__text {
    margin-left: 47px;
    color: #887;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3.5px; }
  .logo:before {
    position: absolute;
    display: block;
    margin-top: 2.5px;
    content: '';
    width: 45px;
    height: 45px;
    background: transparent url(../img/spritesheet.png) -325px -34px no-repeat; }

.menu-socials {
  float: right;
  height: 37px; }
  .menu-socials__item {
    width: 33px;
    color: #ccc;
    transition: 0.3s; }
    .menu-socials__item:before {
      width: 1em;
      margin-right: .2em;
      text-align: center;
      line-height: 1em;
      margin-left: .2em;
      cursor: pointer; }
    .menu-socials__item:hover {
      color: #248cec; }
    .menu-socials__item_facebook:before {
      font-family: fontello;
      content: "\e801"; }
    .menu-socials__item_twitter:before {
      font-family: fontello;
      content: "\e802"; }
    .menu-socials__item_rss:before {
      font-family: fontello;
      content: "\e803"; }
    .menu-socials__item_linkedin:before {
      font-family: fontello;
      content: "\e800"; }
    .menu-socials__item_skype:before {
      font-family: fontello;
      content: "\e804"; }

.menu-main {
  display: inline-block;
  width: 1160px;
  margin: 40px auto 10px;
  background-color: #2a2d32; }
  .menu-main__item {
    height: 55px;
    border-right: 1px solid #000;
    padding: 0 40px; }
    .menu-main__item_active-page {
      background-color: #248cec; }
      .menu-main__item_active-page .menu-main__link:hover {
        color: #fff;
        cursor: default; }
  .menu-main__link {
    display: block;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    line-height: 55px;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s; }
    .menu-main__link:hover {
      color: #f4b60d; }
  .menu-main__search-form {
    float: right; }

.carousel-wrapper {
  position: relative;
  /*  PREV NEXT BUTTONS  */
  /*  PAGINATION  */ }
  .carousel-wrapper .jcarousel {
    position: relative;
    overflow: hidden;
    width: 1160px;
    height: 400px;
    margin: 10px auto; }
    .carousel-wrapper .jcarousel ul {
      width: 20000em;
      position: relative; }
      .carousel-wrapper .jcarousel ul li {
        float: left; }
        .carousel-wrapper .jcarousel ul li img {
          vertical-align: top; }
  .carousel-wrapper .jcarousel-prev,
  .carousel-wrapper .jcarousel-next {
    position: absolute;
    top: 200px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #778899; }
    .carousel-wrapper .jcarousel-prev:hover,
    .carousel-wrapper .jcarousel-next:hover {
      background-color: #5f6f7e; }
    .carousel-wrapper .jcarousel-prev.inactive,
    .carousel-wrapper .jcarousel-next.inactive {
      cursor: default; }
  .carousel-wrapper .jcarousel-prev {
    left: -50px; }
  .carousel-wrapper .jcarousel-next {
    right: -50px; }
  .carousel-wrapper .jcarousel-pagination {
    position: absolute;
    bottom: 5%;
    left: 47%; }
    .carousel-wrapper .jcarousel-pagination a {
      display: inline-block;
      margin-right: 15px;
      width: 15px;
      height: 15px;
      background: #fff;
      cursor: pointer;
      border: 3px solid #fff;
      text-indent: -9999px;
      box-sizing: border-box;
      transition: 0.3s; }
      .carousel-wrapper .jcarousel-pagination a:first-child {
        margin-left: 0; }
      .carousel-wrapper .jcarousel-pagination a:hover {
        background-color: #424242;
        border: 3px solid #424242; }
      .carousel-wrapper .jcarousel-pagination a.active {
        background: rgba(0, 0, 0, 0.9);
        cursor: default; }
        .carousel-wrapper .jcarousel-pagination a.active:hover {
          border: 3px solid #fff; }
  .carousel-wrapper .inscription {
    position: absolute;
    top: 150px;
    left: 50px;
    color: #fff;
    font-size: 48px; }
    .carousel-wrapper .inscription__block {
      display: block;
      width: 160px;
      padding: 10px 25px 0 25px;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.5); }
    .carousel-wrapper .inscription__block:first-child {
      color: #f4b60d;
      padding-top: 20px; }
    .carousel-wrapper .inscription__block:last-child {
      width: 235px;
      padding-bottom: 20px; }

.intro {
  margin-bottom: 60px; }
  .intro .intro-article {
    display: inline-block;
    margin-top: 30px;
    padding-left: 125px;
    padding-right: 40px;
    width: 235px; }
    .intro .intro-article_1:before {
      display: inline-block;
      float: left;
      margin-top: -16px;
      margin-left: -120px;
      content: "01";
      width: 120px;
      font-size: 90px;
      font-weight: bolder;
      color: rgba(42, 43, 46, 0.1); }
    .intro .intro-article_2:before {
      display: inline-block;
      float: left;
      margin-top: -16px;
      margin-left: -120px;
      content: "02";
      width: 120px;
      font-size: 90px;
      font-weight: bolder;
      color: rgba(42, 43, 46, 0.1); }
    .intro .intro-article_3 {
      padding-right: 0; }
      .intro .intro-article_3:before {
        display: inline-block;
        float: left;
        margin-top: -16px;
        margin-left: -120px;
        content: "03";
        width: 120px;
        font-size: 90px;
        font-weight: bolder;
        color: rgba(42, 43, 46, 0.1); }
    .intro .intro-article__title {
      display: inline-block;
      width: 240px;
      margin-bottom: 16px;
      font-size: 20px; }
      .intro .intro-article__title_1:before {
        display: block;
        margin-bottom: 14px;
        content: '';
        width: 32px;
        height: 32px;
        background: transparent url(../img/spritesheet.png) -331px -1px no-repeat; }
      .intro .intro-article__title_2:before {
        display: block;
        margin-bottom: 14px;
        content: '';
        width: 32px;
        height: 32px;
        background: transparent url(../img/spritesheet.png) -365px -1px no-repeat; }
      .intro .intro-article__title_3:before {
        display: block;
        margin-bottom: 14px;
        content: '';
        width: 32px;
        height: 32px;
        background: transparent url(../img/spritesheet.png) -291px -34px no-repeat; }
    .intro .intro-article__text {
      display: inline-block;
      width: 240px;
      padding-bottom: 25px;
      font-size: 16px; }
    .intro .intro-article__link {
      color: #2a2b2e;
      font-size: 13px;
      font-weight: bolder; }
      .intro .intro-article__link:after {
        display: inline-block;
        margin-left: 8px;
        content: '';
        width: 10px;
        height: 9px;
        background: transparent url(../img/spritesheet.png) -295px -5px no-repeat; }
      .intro .intro-article__link:hover {
        color: #248cec; }
        .intro .intro-article__link:hover:after {
          background: transparent url(../img/spritesheet.png) -315px -5px no-repeat; }

.servises {
  background-color: #2a2d32;
  padding-bottom: 50px; }
  .servises__list {
    background-color: #2a2d32; }
  .servises__title {
    padding: 50px 0 54px;
    color: #fff;
    font-size: 24px; }
  .servises__item {
    display: inline-block;
    width: 260px;
    padding-right: 36px; }
    .servises__item:last-child {
      padding-right: 0; }
  .servises__link {
    position: relative;
    display: block;
    width: 260px;
    height: 260px;
    background-color: #248cec;
    opacity: 1;
    transition: 3c; }
    .servises__link:before, .servises__link:after {
      opacity: 0;
      content: "";
      position: absolute;
      background-color: #FFF;
      top: 50%;
      left: 50%;
      display: block; }
    .servises__link:before {
      width: 3px;
      height: 35px;
      margin: -17.5px 0 0 -1.5px; }
    .servises__link:after {
      margin: -1.5px 0 0 -17.5px;
      width: 35px;
      height: 3px; }
    .servises__link:hover .servises__image {
      transition: 0.3s;
      opacity: 0.3; }
    .servises__link:hover:before, .servises__link:hover:after {
      opacity: 1; }
    .servises__link:hover .servises__caption {
      color: #f4b60d; }
  .servises__caption {
    display: block;
    width: 260px;
    padding-top: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bolder; }

.news-banners {
  display: block;
  background-color: #f7f7f7;
  width: 100%;
  height: 400px;
  padding-top: 60px;
  padding-bottom: 85px; }

.latest-news {
  float: left;
  width: 49.8%; }
  .latest-news__article {
    position: relative;
    margin-bottom: 29px;
    height: 150px; }
    .latest-news__article:before, .latest-news__article:after {
      display: block;
      position: absolute;
      left: -15px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      z-index: 2; }
    .latest-news__article:before {
      top: 15px;
      content: '';
      font-size: 15px;
      color: #fff;
      background-color: #248cec; }
    .latest-news__article:after {
      top: 55px;
      content: '';
      color: #2a2d32;
      background-color: #f4b60d;
      font-size: 18px; }
    .latest-news__article_1:before {
      content: 'Jan'; }
    .latest-news__article_1:after {
      content: '23'; }
    .latest-news__article_2:before {
      content: 'Jan'; }
    .latest-news__article_2:after {
      content: '21'; }
  .latest-news__img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0; }
  .latest-news__aside {
    position: relative;
    padding-left: 183px;
    height: 150px; }
  .latest-news__title {
    margin-bottom: 48px;
    color: #2a2d32;
    font-size: 24px; }
  .latest-news__title-3 {
    display: block;
    padding-bottom: 10px;
    color: #2a2d32;
    font-size: 16px; }
  .latest-news__link {
    color: #248cec; }
    .latest-news__link_title {
      color: #2a2d32; }
      .latest-news__link_title:hover {
        color: #248cec; }
  .latest-news__text, .latest-news__comments {
    display: block;
    color: #887;
    font-size: 13px;
    line-height: 20px; }
  .latest-news__comments {
    margin-bottom: 20px; }

.banners {
  float: left;
  width: 48%;
  padding-left: 15px;
  transition: 1s; }
  .banners__control {
    display: block;
    position: relative;
    width: 580px;
    height: 39px;
    float: left;
    color: #2a2d32;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 13px;
    font-weight: bolder;
    border: 1px solid #e8e8e8;
    transition: 1s; }
    .banners__control_link {
      cursor: pointer; }
    .banners__control:before {
      display: block;
      content: '\2795';
      float: left;
      position: relative;
      width: 39px;
      height: 39px;
      margin-right: 12px;
      border-right: 2px solid #e8e8e8;
      text-align: center;
      font-size: 14px;
      font-weight: 200; }
    .banners__control ~ .banners__text {
      visibility: hidden;
      font-size: 0;
      margin: 16px;
      height: 0px;
      transition: 1s; }
  .banners__checkbox {
    display: none; }
    .banners__checkbox:checked {
      float: left;
      border-right: 2px solid #e8e8e8;
      transition: 0.5s; }
      .banners__checkbox:checked ~ .banners__control {
        color: #fff;
        background-color: #f4b60d; }
        .banners__checkbox:checked ~ .banners__control:before {
          content: '\2796';
          transition: 0.5s; }
      .banners__checkbox:checked ~ .banners__text {
        visibility: visible;
        display: block;
        width: 540px;
        height: 130px;
        padding: 50px 0 0 40px;
        color: #8a8a8a;
        line-height: 20px;
        font-size: 13px;
        font-family: Arial,sans-serif;
        transition: 1s; }
  .banners__title {
    margin-bottom: 48px;
    color: #2a2d32;
    font-size: 24px; }

.sponsors__list {
  line-height: 62px;
  padding: 85px 0; }
.sponsors__item {
  display: inline-block;
  height: 62px;
  width: 153px;
  opacity: 0.75;
  margin: 0 20px;
  background: transparent url(../img/spritesheet.png) no-repeat;
  transition: 0.5s; }
  .sponsors__item:nth-child(1) {
    background-position: 0 -1px; }
  .sponsors__item:nth-child(2) {
    background-position: 1px -67px; }
  .sponsors__item:nth-child(3) {
    background-position: -16px -130px; }
  .sponsors__item:nth-child(4) {
    background-position: -135px -1px; }
  .sponsors__item:nth-child(5) {
    background-position: -135px -65px; }
  .sponsors__item:nth-child(6) {
    background-position: -180px -128px; }
  .sponsors__item:hover {
    opacity: 1; }

.footer-menu {
  background-color: #2a2d32; }
  .footer-menu__list {
    display: block;
    float: left;
    width: 230px;
    margin: 0 0 83px 40px; }
  .footer-menu__title-3 {
    display: block;
    width: 230px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin: 64px 0 35px; }
  .footer-menu__item {
    line-height: 36px;
    border-bottom: 1px solid #393c40; }
    .footer-menu__item:last-child {
      border-bottom: none; }
  .footer-menu__link {
    display: block;
    width: 230px;
    color: #fff;
    opacity: 0.3;
    font-size: 13px;
    font-family: Arial,sans-serif;
    transition: 0.3s; }
    .footer-menu__link:hover {
      color: #248cec;
      opacity: 1; }

.contacts {
  height: 60px;
  background-color: #35383c; }
  .contacts__item {
    float: left;
    margin-right: 35px;
    margin-left: 33px;
    color: #fff;
    opacity: 0.3;
    line-height: 60px;
    vertical-align: middle;
    font-size: 12px;
    font-family: Arial,sans-serif; }
    .contacts__item:before {
      display: inline-block;
      width: 21px;
      margin-right: 3px;
      font-size: 18px;
      text-align: center;
      line-height: 18px;
      margin-left: 3px; }
    .contacts__item_location:before {
      font-family: fontello;
      content: "\e807"; }
    .contacts__item_mobile:before {
      font-family: fontello;
      content: "\e806"; }
    .contacts__item_vcard:before {
      font-family: fontello;
      content: "\e808"; }
    .contacts__item_copyright {
      float: right; }
      .contacts__item_copyright:before {
        font-size: 14px;
        font-family: fontello;
        content: "\e809"; }

/*# sourceMappingURL=screen.css.map */
